exportClasses(
 "TNI",
 "TNA",
 "AVS"
)

exportMethods(
  "tni.preprocess",
  "tni.permutation",
  "tni.bootstrap",
  "tni.dpi.filter",
  "tni.get",
  "tni.graph",
  "tni.conditional",
  "tni.gsea2",
  "tni2tna.preprocess",
  "tna.mra",
  "tna.gsea1",
  "tna.gsea2",
  "tna.overlap",
  "tna.synergy",
  "tna.shadow",
  "tna.get",
  "tna.graph",
  "avs.vse",
  "avs.evse",
  "avs.get"
)

export(
  "avs.preprocess.LDHapMapRel27",
  "avs.preprocess.LD1000gRel20130502",
  "tna.plot.gsea1",
  "tna.plot.gsea2",
  "avs.plot1",
  "avs.plot2"
)

importFrom(minet, aracne)
importFrom(snow, parSapply, parLapply, makeCluster, stopCluster, clusterExport)
importFrom(limma, lmFit, makeContrasts, eBayes, contrasts.fit, decideTests)
importFrom(RedeR, att.mapv, att.setv, att.sete)
importFrom(igraph, ecount, vcount, degree, graph.empty, vertices, graph.edgelist, get.edgelist, remove.graph.attribute, E, V, 'V<-', 'E<-')
importFrom(data.table, data.table, setkey)
importFrom(IRanges, IRanges, overlapsAny, findOverlaps, NCList, reduce)
importFrom(car, powerTransform, bcPower)
import(methods)
importFrom(S4Vectors, from, to)
importFrom(stats, pchisq, complete.cases)
importFrom(grDevices, col2rgb, colorRampPalette, dev.off, palette, pdf, rgb)
importFrom(graphics, abline, axis, boxplot, hist, image, layout, legend, lines, mtext, par, plot, plot.new, points, polygon, segments, title)
importFrom(stats, aggregate, anova, aov, as.dist, coef, cor, formula, hclust, ks.test, lm, manova, median, model.matrix, p.adjust, phyper, pnorm, qnorm, quantile, sd, shapiro.test)
importFrom(utils, data, setTxtProgressBar, txtProgressBar)


